@import url("./../../index.css");
.post {
  color: var(--color-white-0);
  border-bottom: var(--border);
  padding-bottom: 2rem;
}
.post:first-of-type {
  margin-top: 2rem;
}
.userInfo {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  display: flex;
  align-items: start;
}
.userInfo img {
  border-radius: 50%;
  width: 44px;
}
.userInfo span {
  margin-left: 10px;
  display: inline-block;
  color: var(--color-white-0);
  font-size: 22px;
}

.content {
}
