@import url("./../../index.css");
.suggestions {
  flex: 0.5;
}

.personList {
  margin-top: 2rem;
  background-color: var(--color-dark-3);
  border-radius: 27px;
  padding: 1rem;
}
.person > div {
  margin-top: 1rem;
}
.username {
  color: var(--color-white-0);
  font-weight: bold;
  margin-bottom: 5px;
}
.subTitle {
  color: var(--color-white-1);
}

.person img {
  border-radius: 50%;
  width: 44px;
}
