.suggestions{
    flex: .5;
    padding-left: 15px;
    padding-right: 15px;
}
.search{
    margin-top: 1rem;
    background-color: #202327;
    border: none;
    border-radius: 47px;
    padding: .7rem 1rem;
    width: 100%;

}
.personList{
    margin-top: 2rem;
    background-color: #16181c;
    border-radius: 27px;
    padding: 1rem;
}
.person{
    display: flex;
    justify-content: space-between;
}
.person >div{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.username{
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
}
.subTitle{
    color: #75767b;
}

.btn {
    color: black;
    border-radius: 15px;
    border: none;
    padding: .5rem 1rem;
    align-self: center;

}
.person img {
    border-radius: 50%;
    width: 44px;
}
