@import url("./../index.css");
.profile {
  background-color: var(--color-dark-0);
  flex: 1;
}
.profile > *{
  padding-left: 20px;
  padding-right: 20px;
}
.profileHeader {
  background-color: var(--color-dark-1);
  color: var(--color-dark-0);
  padding: 0.5rem 1rem;
}
.profileHeader svg {
  fill: var(--color-white-0);
  width: 35px;
}
.profileHeader a {
  border-radius: 50%;
  padding: 10px;
}
.profileHeader a:hover {
  background-color: var(--color-dark-2);
}

.profileHeader a {
  color: var(--color-white-0);
  font-size: 22px;
}
.username {
  font-size: 27px;
  color: var(--color-white-0);
}
.profileHeader .username {
  margin-top: 1.5rem;
}
